@CHARSET "UTF-8";

.tablecontent{
	margin-top:20px;
	margin-left:300px;
	border:1px solid #ddd;
	border-radius:3px;
	padding:30px 50px;
}

.btn-box{
	margin-top:20px;
}
.btn-box .btn-default{
	margin-left:60px;
	
}
td {
	text-align:left;
	font-size:14px;
	line-height:45px;
}
tr td:first-child{
	text-align:right;
	padding:0px 10px;
}
input{
	height:35px;
	padding: 0px 10px;
}
input[disabled]{
	display:inline-block;
	border:none;
	border-radius:1px;
}
.input{
	border:1px solid #ddd;
	border-radius:2px;
}