
.btn-default{
	background:#fff;
	border:1px solid #65ADE6;
	line-height:25px;
	margin:0px 2px;
	padding:0px 13px;
	font-size:12px;
	cursor:pointer;
	color:#333;
	border-radius:2px;
}
.btn-default a{
	color:#333;
}
.btn-default:hover,.btn-default:hover a{
	background:#65ADE6;
	color:#fff;
}

.search-input{
	line-height:25px;
	padding:0px 8px;
	font-size:12px;
	width:120px;
	border:1px solid #ddd;
	border-radius:1px;
}
/*头部*/
.header h1,
.header ul {
    line-height: 50px
}

.header ul li,
.tablewrapper .tablecontent .page ul li a {
    cursor: pointer
}

.header {
    height: 50px;
    padding: 10px 25px
}

.header .logininfo {
    float: left;
    margin-left: 30px
}

.header .logininfo div {
    line-height: 50px;
    float: left;
    margin-right: 10px
}

.header .logininfo .admin span {
    color: #F16522;
    font-style: italic
}

.header .logininfo .time span {
    font-style: italic;
    color: #999
}

.header ul {
    float: right;
    margin-right: 60px
}

.header ul li {
    display: inline-block;
    margin: 0 5px;
    color: #666;
    text-decoration: underline
}

.header ul li:hover,
 .page div span,
 .page ul li a:hover {
    color: #F16522
}
/*左侧*/
.left {
    width: 160px
}

.left .easyui-accordion {
    border-left: none;
    border-right: none
}

.left .easyui-accordion ul {
    padding: 10px 15px
}

.left .easyui-accordion ul li {
    padding-left: 10px;
    margin: 5px 0;
    border-left: 3px solid #64AAE3
}

.left .easyui-accordion ul li:hover {
    cursor: pointer;
    color: #F16522
}
/*表格区域*/

.tablewrapper{
	min-width:1200px;
}
.tablecontent{
	display:inline-block;
	margin: 3px 3px;
}
.title{
	
	background:#E6F0FF;
	border-bottom:1px solid #95B8E7;
	color:#0E2D5F;
	line-height:26px;
	font-size:12px;
	font-family:"微软雅黑";
	font-weight:bold;
	padding-left:8px;
}

.option-area{
	margin:10px 0px;
}

.bottom {
    padding: 0 20px;
    line-height: 30px
}
