/* ·ÖÒ³Æ÷ */
.page {
    overflow: hidden;
    line-height: 25px;
    margin-top:25px;
}

.page ul {
	padding:5px 0px;
    float: left;
    margin-left: 200px;
}

.page ul li {
    display:inline-block;
    margin:0px 5px;
}
.page .btn{
	background:#fff;
	border:1px solid #65ADE6;
	padding:4px 13px;
	font-size:12px;
	cursor:pointer;
	color:#333;
	border-radius:2px;
}

.page .btn:hover{
	background:#65ADE6;
	color:#fff;
}
 .page div {
 	padding:5px 0px;
    float: left;
    margin-left: 100px;
}

table {
    border-left: 1px solid #ccc;
	border-top: 1px solid #ccc;
	font-size:12px;
}

thead td {
    font-weight: 700;
    background-color: #E6E6E6;
    line-height:20px;
}

table td{
	border-right: 1px solid #ccc;
    text-align: center;
    padding:0px 23px;
}
tbody tr td {
    line-height: 28px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}

tbody tr:hover td {
    background: #E8F2FE;
}

tbody tr td a{
	color:#3399FF;
}



